<div class="center jumbotron">
  <h1 class="homepage-headline">Find, buy, and sell textbooks<br/> for next semester</h1>

  
    <%= form_tag(textbooks_path, method: :get, id: 'main-searchbar') do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search Textbooks ...', autofocus: true %>
      <%= button_tag(type: "submit", name: nil, class: 'btn') do %>
          <span class="glyphicon glyphicon-search"></span>
      <% end %>
    <% end %>
</div>
