<% provide(:title, "Edit Listing") %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default form-panel">
      <div class="panel-heading">
        <h1>Edit Listing</h1>
      </div>
      <div class="panel-body">
        <%= form_for(@textbook) do |f| %>
          <%= render 'fields', f: f %>

          <%= f.submit "Update Listing", class: 'button-success btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>