<% provide(:title, @subject.name) %>
<h1><%= @subject.name %></h1>

<div class="row">
  <div class="col-md-12">
    <ul class="listings">
      <% @textbooks.each do |textbook| %>
        <%= render 'textbooks/textbook', object: textbook %>
      <% end %>
    </ul>

    <%= will_paginate @textbooks %>
  </div>
</div>