<% provide(:title, "Post Course") %>
<h1>Request for textbook</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(courses_path) do %>
      
      <%= label_tag :course_id, "Course name" %>
      <%= select_tag(:course_id, options_from_collection_for_select(Course.all, :id, :name)) %>

      <%= submit_tag "Request textbook", class: 'button-success' %>
    <% end %>
  </div>
</div>